body{
    background-color: #000000;
    color: white;
    display: block;
}
*{
    margin: 0;
    box-sizing: border-box;
}
div{
    display: block;
}
h2{
    
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 15px;
   
}
.boxes{
    display: flex;
    margin-left: 30px;
    margin-bottom: 15px;
}
.info{
    display: flex;
    flex-direction: column;

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0
}
input{
    margin: 5px;
}
button{
    margin-left: 30px;
    width: 80px;
    height: 32px;
    margin-bottom: 15px;
}
.lower-text{
    margin-left: 30px;
    margin-top: 20px;
}
#a{
    margin-left: 30px;
    margin-top: 10px;
}

